.body{
	display: none;
}
.header{
	display: none;
}
.footer{
	display: none;
}
.cap{
	display: block;
}
.cap__body{
	width: 900px;
	margin: 0 auto;
    padding-top: 100px;
}
.cap__wrapper{
	text-align: center;
    padding-top: 35px;
}
.cap__item{
    width: 180px;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}
.cap__item-img{
	height: 65px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.cap__title{
    color: #4b4660;
    margin: 0;
    font-size: 32px;
    text-align: center;
    font-weight: normal;
}
.cap__text{
    margin: 0;
    font-size: 14px;
    padding-top: 7px;
    line-height: 21px;
}
.cap__item-img._img-1{
	background-image: url('../images/cap/icon-google.jpg');
}
.cap__item-img._img-2{
	background-image: url('../images/cap/icon-firefox.jpg');
}
.cap__item-img._img-3{
	background-image: url('../images/cap/icon-opera.jpg');
}
.cap__item-img._img-4{
	background-image: url('../images/cap/icon-edge.jpg');
}
.cap__item-text{
    color: #4194f7;
    text-decoration: underline;
}
.cap__item:hover .cap__item-text{
    color: #d10d4b;
    text-decoration: none;
}
