/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* Код для подключения шрифта в /css/stylename.css */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  min-width: 320px;
}
.cap {
  display: none;
}
.grid_inner {
  *zoom: 1;
  width: 1230px;
  margin: 0 auto;
}
.grid_inner:before,
.grid_inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid_inner:after {
  clear: both;
}
@media only screen and (max-width: 1299px) {
  .grid_inner {
    width: auto;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .grid_inner {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }
}
.header__top {
  padding-top: 25px;
  padding-bottom: 27px;
}
.header__bottom {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  background-image: url('../images/menu__back.svg');
}
.header__search {
  float: right;
  margin: 8px -2px 0 0px;
}
.header__mobile-wrapper {
  display: none;
}
@media only screen and (max-width: 1299px) {
  .header__search {
    margin-right: 0;
  }
  .header__top {
    padding-top: 7px;
    padding-bottom: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .header__top {
    padding-top: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D7D7D7;
  }
  .header__mobile-wrapper {
    position: relative;
    z-index: 10;
    left: 100%;
    width: 100%;
    display: none;
    background-color: #fff;
  }
  .header__mobile-wrapper._active {
    display: block;
  }
  .header__mobile-overflow {
    position: absolute;
    z-index: 30;
    width: 100%;
    overflow: hidden;
  }
  .header__bottom {
    display: none;
  }
  .header__search {
    float: none;
    padding: 14px 15px 19px 15px;
    margin: 0;
  }
}
.logo {
  float: left;
  margin: 5px 121px 0 0;
}
.logo__img {
  width: 297px;
  height: auto;
}
@media only screen and (max-width: 1299px) {
  .logo {
    margin-top: 17px;
    margin-right: 36px;
  }
  .logo__img {
    width: 179px;
    height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    margin: 3px 0 0 5px;
  }
}
.menu {
  box-sizing: border-box;
  padding: 0 0 0 2px;
  margin: 0 -30px;
}
.menu ul {
  height: 66px;
  margin: 0;
  padding: 0;
  text-align: justify;
}
.menu ul li {
  display: inline-block;
  text-align: left;
  font-size: 15px;
  font-family: "OpenSansBold";
  text-transform: uppercase;
  color: #fff;
}
.menu__item {
  box-sizing: border-box;
  line-height: 66px;
  display: inline-block;
  height: 66px;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 15px;
  font-family: "OpenSansBold";
  text-transform: uppercase;
  color: #fff;
  padding: 0 30px;
  background-color: transparent;
  transition: background-color 0.3s ease 0s;
}
.menu__item._active {
  border-bottom: 3px solid #fff;
}
.menu__item:hover {
  background-color: #FF8FB1;
}
.menu__helper {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  font-size: 0;
}
.menu._left {
  text-align: left;
}
.menu._left ul {
  text-align: left;
}
.menu._left .menu__item {
  margin: 0 15px;
}
.menu._left .menu__item.first {
  margin-left: 0px;
}
.menu__mobile-btn {
  display: none;
}
@media only screen and (max-width: 1299px) {
  .menu {
    padding: 0 0 0 0;
    margin: 0 -20px;
  }
  .menu ul {
    height: 50px;
  }
  .menu__item {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .menu {
    margin: 0;
    width: 100%;
    padding-top: 5px;
    background-image: url('../images/mobile-menu__back.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .menu._left .menu__item {
    padding: 0 20px;
    margin: 0;
  }
  .menu._left .menu__item.first {
    padding: 0 20px;
  }
  .menu ul {
    height: 100%;
    text-align: left;
  }
  .menu ul li {
    display: block;
  }
  .menu__item {
    width: 100%;
    font-size: 21px;
    height: auto;
    padding: 15px 0 15px 15px;
  }
  .menu__item._active {
    border-bottom: none;
  }
  .menu__mobile-btn {
    box-sizing: border-box;
    display: block;
    float: right;
    width: 40px;
    height: 35px;
    padding-top: 16px;
    margin: 0 6px 0 0;
  }
  .menu__mobile-btn._active .menu__icon {
    background-color: #fff;
  }
  .menu__mobile-btn._active .menu__icon:after {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .menu__mobile-btn._active .menu__icon:before {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .menu__icon {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #FE7F8D;
    transition: background-color 0.3s ease 0s;
  }
  .menu__icon:after {
    display: block;
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FE7F8D;
    transition: all 0.3s ease 0s;
  }
  .menu__icon:before {
    display: block;
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FE7F8D;
    transition: all 0.3s ease 0s;
  }
}
.input {
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: 1px solid #D7D7D7;
  font-family: "OpenSansRegular";
  font-size: 13px;
  padding-left: 15px;
  background-color: transparent;
  transition: border-color 0.3s ease 0s;
}
.input:focus {
  outline: none;
  border-color: #000;
}
.input:hover {
  border-color: #000;
}
.input::-webkit-input-placeholder {
  font-family: "OpenSansRegular";
  font-size: 13px;
  color: #9B9B9B;
}
.input::-moz-placeholder {
  font-family: "OpenSansRegular";
  font-size: 13px;
  color: #9B9B9B;
}
.input:-moz-placeholder {
  font-family: "OpenSansRegular";
  font-size: 13px;
  color: #9B9B9B;
}
.input:-ms-input-placeholder {
  font-family: "OpenSansRegular";
  font-size: 13px;
  color: #9B9B9B;
}
.input__wrapper {
  position: relative;
  width: 192px;
  height: 40px;
}
.input__wrapper._search {
  width: 293px;
  height: 53px;
}
.input__wrapper._left {
  float: left;
}
.input__wrapper._width-100 {
  width: auto;
  height: 42px;
}
.input__error {
  float: left;
  padding-top: 4px;
}
.input.error {
  color: #D0021B;
}
.error_email .error {
  font-family: "OpenSansRegular";
  font-size: 11px;
  color: #D0021B;
}
.ajax_form .error {
  font-family: "OpenSansRegular";
  font-size: 11px;
  color: #D0021B !important;
}
@media only screen and (max-width: 1299px) {
  .input {
    padding-left: 8px;
  }
  .input__wrapper._subscription {
    width: 174px;
    height: 36px;
    padding-bottom: 0px;
  }
  .input__wrapper._search {
    width: 160px;
  }
}
@media only screen and (max-width: 767px) {
  .input__wrapper._subscription {
    width: 100%;
    float: none;
  }
  .input__wrapper._search {
    width: 100%;
  }
}
.currency {
  float: left;
}
.currency__item {
  display: inline-block;
  padding-right: 50px;
}
.currency__name {
  text-transform: uppercase;
  font-family: "OpenSansBold";
  font-size: 14px;
  color: #030303;
}
.currency__value {
  font-family: "OpenSansSemiBold";
  font-size: 24px;
  color: #030303;
  margin-top: -3px;
  letter-spacing: 0.01em;
}
.currency__percent {
  box-sizing: border-box;
  font-family: "OpenSansBold";
  font-size: 14px;
  color: #030303;
  padding-left: 19px;
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: 4px 50%;
}
.currency__percent._minus {
  color: #D0021B;
  background-image: url('../images/icons/arrow__down.svg');
}
.currency__percent._plus {
  color: #5AE01A;
  background-image: url('../images/icons/arrow__top.svg');
}
@media only screen and (max-width: 1299px) {
  .currency {
    padding-top: 7px;
  }
  .currency__item {
    width: 103px;
    padding-right: 10px;
  }
  .currency__value {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .currency {
    *zoom: 1;
    float: none;
    padding: 12px 0px 0 15px;
  }
  .currency:before,
  .currency:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .currency:after {
    clear: both;
  }
  .currency__item {
    width: 33.33%;
    float: left;
    padding-right: 0;
  }
  .currency__value {
    font-size: 16px;
    padding-top: 3px;
  }
}
.content {
  *zoom: 1;
  position: relative;
  padding-top: 20px;
  margin-right: -20px;
}
.content:before,
.content:after {
  display: table;
  content: "";
  line-height: 0;
}
.content:after {
  clear: both;
}
.content__button {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 42px;
}
.content__button._news {
  width: 100%;
  float: left;
}
.content._news {
  box-sizing: border-box;
  margin-right: 0;
  float: left;
  width: 833px;
  padding-top: 0;
  padding-right: 20px;
}
@media only screen and (max-width: 1299px) {
  .content {
    margin-right: -5px;
    margin-left: -5px;
    position: relative;
  }
  .content._main {
    padding-top: 356px;
  }
  .content._news {
    float: none;
    padding-right: 0;
    margin-right: -10px;
    margin-left: 0;
    width: auto;
  }
  .content__button {
    padding-top: 45px;
    padding-bottom: 48px;
  }
  .content__button._news {
    float: none;
  }
}
@media only screen and (max-width: 900px) {
  .content._news {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .content {
    margin-left: 0px;
    margin-right: 0px;
  }
  .content__button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.sidebar {
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin-right: 20px;
  float: right;
  margin-bottom: 20px;
  height: auto;
}
.sidebar__border {
  height: 1px;
  background-color: #D8D8D8;
}
@media only screen and (max-width: 1299px) {
  .sidebar {
    width: calc(50% - 10px);
    margin: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin: 10px 0;
    height: auto;
    float: none;
  }
}
.cell {
  width: calc(33.33% - 20px);
  float: left;
  height: 392px;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.cell._width-2 {
  width: calc(66.66% - 20px);
}
.cell._first {
  height: 370px;
}
.cell._first .cell__bottom {
  transition: background 0.3s ease 0s;
}
.cell._first:hover .cell__banner-hover {
  opacity: 1;
}
.cell._first:hover .cell__bottom {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.cell__img {
  display: block;
  text-decoration: none;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.cell__content {
  box-sizing: border-box;
  padding: 24px 30px 0 30px;
  background-color: #ffffff;
}
.cell__text {
  display: inline-block;
  margin: 0;
  padding-top: 17px;
  line-height: 25px;
  letter-spacing: 0.01em;
  font-family: "OpenSansRegular";
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
.cell__text:hover {
  color: #E27682;
}
.cell__banner {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cell__banner-hover {
  opacity: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(253, 97, 109, 0.64) 0%, #FF7653 100%);
  transition: opacity 0.3s ease 0s;
}
.cell__bottom {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  padding: 15px 30px 22px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.547356) 100%);
}
.cell__title {
  margin: 0;
  font-weight: normal;
  font-family: "OpenSansExtraBold";
  font-size: 28px;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 29px;
  padding-bottom: 13px;
}
.cell__title._first {
  display: inline-block;
  text-decoration: none;
}
.cell__title a {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 1299px) {
  .cell {
    width: calc(33.33% - 10px);
    margin: 5px;
    height: 355px;
  }
  .cell._width-2 {
    width: calc(33.33% - 10px);
  }
  .cell._first {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 331px;
    margin: 0;
    width: auto;
  }
  .cell__img {
    height: 181px;
  }
  .cell__content {
    padding: 20px 27px 0 27px;
  }
  .cell__text {
    padding-top: 11px;
  }
}
@media only screen and (max-width: 1070px) {
  .cell {
    height: 370px;
  }
  .cell__content {
    padding: 20px 10px 0 10px;
  }
}
@media only screen and (max-width: 900px) {
  .cell {
    width: calc(50% - 10px);
    margin: 5px;
    height: 355px;
  }
  .cell._width-2 {
    width: calc(50% - 10px);
  }
  .cell._first {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 331px;
    margin: 0;
    width: auto;
  }
  .cell__img {
    height: 181px;
  }
  .cell__content {
    padding: 20px 27px 0 27px;
  }
  .cell__text {
    padding-top: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .cell__content {
    padding: 10px 10px 10px 10px;
  }
  .cell._first {
    left: 5px;
    right: 5px;
  }
}
@media only screen and (max-width: 510px) {
  .cell {
    width: 100%;
    margin: 10px 0;
    height: auto;
    float: none;
  }
  .cell__content {
    padding: 20px 27px 20px 27px;
  }
  .cell._first {
    left: 0px;
    right: 0px;
  }
}
.date {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 1px;
  background-size: 22px 20px;
  background-image: url('../images/icons/date.svg');
  font-family: "OpenSansBold";
  font-size: 12px;
  color: #030303;
  padding-left: 28px;
  margin-right: 16px;
  padding-top: 3px;
  min-height: 18px;
}
.date._banner {
  color: #fff;
  font-size: 14px;
  background-image: url('../images/icons/date__white.svg');
}
@media only screen and (max-width: 1299px) {
  .date {
    margin-right: 4px;
  }
}
.label {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 22px 19px;
  background-image: url('../images/icons/label.svg');
  padding-left: 27px;
}
.label._banner {
  background-image: url('../images/icons/label__white.svg');
}
.label._banner .label__item {
  color: #fff;
  font-size: 14px;
  text-transform: none;
}
.label._big .label__item {
  text-transform: uppercase;
}
.label__item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "OpenSansBold";
  font-size: 12px;
  color: #030303;
  transition: color 0.3s ease 0s;
}
.label__item:hover {
  color: #FE7246;
}
.btn {
  background-color: #FE7F8D;
  color: #fff;
  font-size: 15px;
  font-family: "OpenSansBold";
  border-radius: 3px;
  border: none;
  box-shadow: none;
  height: 40px;
  text-transform: uppercase;
  padding: 0 17px;
  letter-spacing: 0.1em;
  transition: background-color 0.3s ease 0s;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #F8421F;
}
.btn._right {
  float: right;
}
.btn-search {
  width: 23px;
  height: 23px;
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/icons/search.svg');
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.btn-search:focus {
  outline: none;
}
.load-add {
  display: inline-block;
  text-decoration: none;
  color: #FE7246;
  font-family: "OpenSansBold";
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
}
.load-add._active .load-add__icon {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}
.load-add__icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/icons/load-add.svg');
  font-style: normal;
  width: 40px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1299px) {
  .btn._subscription {
    height: 36px;
    text-transform: uppercase;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 767px) {
  .btn._subscription {
    position: absolute;
    bottom: 10px;
    left: 0;
    float: none;
    width: 100%;
  }
}
.footer__top {
  background-color: #3B3C3D;
  padding-top: 28px;
  padding-bottom: 44px;
}
.footer__block {
  *zoom: 1;
  box-sizing: border-box;
  float: left;
}
.footer__block:before,
.footer__block:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer__block:after {
  clear: both;
}
.footer__block._left {
  width: 667px;
  float: left;
  padding-right: 40px;
}
.footer__block._center {
  width: 330px;
  padding-right: 30px;
}
.footer__block._right {
  width: 200px;
}
.footer__caption {
  color: #fff;
  font-size: 14px;
  font-family: "OpenSansBold";
  text-transform: uppercase;
  margin: 0;
}
.footer__text {
  margin: 0;
  font-family: "OpenSansRegular";
  color: #9B9B9B;
  font-size: 13px;
  padding-top: 12px;
  letter-spacing: 0.009em;
}
.footer__social {
  padding-top: 15px;
}
.footer__social-item {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s ease 0s;
}
.footer__social-item:hover {
  opacity: 0.8;
}
.footer__social-item._fb {
  background-image: url('../images/icons/fb.svg');
}
.footer__social-item._vk {
  background-image: url('../images/icons/vk.svg');
}
.footer__social-item._telegram {
  background-image: url('../images/icons/telegram.svg');
}
.footer__social-item._medium {
  background-image: url('../images/icons/medium.svg');
}
.footer__social-item._tw {
  background-image: url('../images/icons/tw.svg');
}
.footer__social-item._google {
  background-image: url('../images/icons/g+.svg');
}
.footer__bottom {
  background-color: #2C2D2D;
  padding: 12px 0 15px 0;
}
.footer__copyright {
  text-align: center;
  font-family: "OpenSansRegular";
  color: #9B9B9B;
  font-size: 13px;
}
.footer__copyright a {
  font-family: "OpenSansRegular";
  color: #9B9B9B;
  font-size: 13px;
  text-decoration: none;
  margin-right: 8px;
}
@media only screen and (max-width: 1299px) {
  .footer__top {
    padding-bottom: 31px;
  }
  .footer__block {
    width: 100%;
  }
  .footer__block._left {
    width: 100%;
    padding-right: 100px;
  }
  .footer__block._center {
    width: 331px;
    padding: 46px 15px 0 0px;
  }
  .footer__block._center .footer__text {
    padding-top: 19px;
  }
  .footer__block._right {
    width: auto;
    padding-top: 46px;
  }
  .footer__text {
    padding-top: 0px;
  }
  .footer__social {
    margin-right: 0;
  }
  .footer__social-item {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .footer__top {
    padding-top: 0;
  }
  .footer__block {
    width: auto;
  }
  .footer__block._left {
    width: auto;
    padding: 30px 0 0 0;
  }
  .footer__block._center {
    width: auto;
    padding: 30px 0 0 0;
  }
  .footer__block._center .footer__text {
    padding-top: 0;
  }
  .footer__block._right {
    width: auto;
    padding: 30px 0 0 0;
  }
}
.subscription__caption {
  margin: 0;
  font-family: "OpenSansBold";
  font-size: 14px;
  color: #030303;
  letter-spacing: 0.006em;
}
.subscription__form {
  *zoom: 1;
  box-sizing: border-box;
  height: 81px;
  padding-top: 15px;
}
.subscription__form:before,
.subscription__form:after {
  display: table;
  content: "";
  line-height: 0;
}
.subscription__form:after {
  clear: both;
}
.subscription__wrapper {
  padding: 29px 30px 0 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .subscription__wrapper {
    float: none;
  }
  .subscription__form {
    position: relative;
    height: auto;
    padding-bottom: 50px;
  }
}
.social {
  padding-top: 25px;
  padding-bottom: 30px;
}
.social__caption {
  margin: 0;
  font-family: "OpenSansBold";
  font-size: 14px;
  color: #030303;
  letter-spacing: 0.006em;
}
.social__wrapper {
  *zoom: 1;
  padding-top: 15px;
}
.social__wrapper:before,
.social__wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.social__wrapper:after {
  clear: both;
}
.social__item {
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: 50% 50%;
  background-color: #fff;
  transition: opacity 0.3s ease 0s;
}
.social__item:hover {
  opacity: 0.8;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item._fb {
  background-image: url('../images/icons/social-color/fb.svg');
}
.social__item._vk {
  background-image: url('../images/icons/social-color/vk.svg');
}
.social__item._telegram {
  background-image: url('../images/icons/social-color/telegram.svg');
}
.social__item._medium {
  background-image: url('../images/icons/social-color/medium.svg');
}
.social__item._tw {
  background-image: url('../images/icons/social-color/tw.svg');
}
.social__item._google {
  background-image: url('../images/icons/social-color/g+.svg');
}
@media only screen and (max-width: 1299px) {
  .social {
    padding-top: 5px;
    padding-bottom: 27px;
  }
  .social__item {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .social {
    padding-bottom: 0;
  }
  .social__wrapper {
    text-align: justify;
  }
  .social__item {
    float: none;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.popular {
  background-color: #fff;
  padding: 0 30px 0 30px;
  height: 498px;
}
.popular__title {
  margin: 0;
  font-family: "OpenSansBold";
  color: #000000;
  font-size: 15px;
  margin-right: 15px;
  padding: 30px 35px 30px 0;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: 29px 35px;
  background-position: 100% 50%;
  background-image: url('../images/icons/fire.svg');
}
.popular__item {
  position: relative;
  border-bottom: 1px solid #D8D8D8;
}
.popular__top {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.popular__text {
  padding-top: 53px;
  padding-bottom: 24px;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
  font-family: "OpenSansRegular";
  font-size: 16px;
  letter-spacing: 0.009em;
  line-height: 24px;
  transition: color 0.3s ease 0s;
}
.popular__text:hover {
  color: #FE7246;
}
@media only screen and (max-width: 1299px) {
  .popular {
    padding: 0 30px 0 30px;
    height: 100%;
  }
  .popular__top {
    top: 27px;
  }
  .popular__title {
    padding: 31px 29px 30px 0;
    letter-spacing: 0.01em;
  }
  .popular__text {
    padding-top: 65px;
    line-height: 25px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .popular {
    padding: 20px;
  }
}
.banner {
  display: block;
  width: calc(33.33% - 20px);
  float: left;
  height: 392px;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.banner._width-2 {
  width: calc(66.66% - 20px);
}
.banner._first {
  height: 370px;
}
.banner__content {
  position: absolute;
  padding: 0 30px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 31px;
}
.banner__caption {
  color: #fff;
  font-size: 28px;
  font-family: "OpenSansExtraBold";
  margin: 0;
  padding-bottom: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.banner__link {
  color: #9B9B9B;
  font-size: 13px;
  font-family: "OpenSansRegular";
  margin: 0;
}
.sidebar-banner {
  display: block;
  width: 100%;
  height: 392px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.sidebar-banner__content {
  position: absolute;
  padding: 0 30px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 31px;
}
.sidebar-banner__caption {
  color: #fff;
  font-size: 28px;
  font-family: "OpenSansExtraBold";
  margin: 0;
  padding-bottom: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.sidebar-banner__link {
  color: #9B9B9B;
  font-size: 13px;
  font-family: "OpenSansRegular";
  margin: 0;
}
.news-banner {
  display: block;
  height: 202px;
  background-color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
}
.line-banner {
  *zoom: 1;
  display: block;
  position: relative;
  height: 202px;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
  text-decoration: none;
}
.line-banner:before,
.line-banner:after {
  display: table;
  content: "";
  line-height: 0;
}
.line-banner:after {
  clear: both;
}
.line-banner__content {
  display: table;
  height: 100%;
  width: 550px;
  float: right;
}
.line-banner__caption {
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
  font-size: 28px;
  font-family: "OpenSansExtraBold";
}
.line-banner__sign {
  position: absolute;
  text-align: right;
  font-family: "OpenSansRegular";
  font-size: 13px;
  right: 20px;
  bottom: 25px;
}
@media only screen and (max-width: 1299px) {
  .banner {
    width: calc(33.33% - 10px);
    margin: 5px;
    height: 355px;
  }
  .banner._width-2 {
    width: calc(33.33% - 10px);
  }
  .banner._first {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 331px;
    margin: 0;
    width: auto;
  }
  .banner__caption {
    padding-bottom: 17px;
  }
  .banner__content {
    padding: 0 27px 27px 27px;
  }
  .line-banner {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .line-banner__content {
    width: 100%;
  }
}
@media only screen and (max-width: 1185px) {
  .line-banner {
    height: 250px;
  }
}
@media only screen and (max-width: 1070px) {
  .banner {
    height: 370px;
  }
}
@media only screen and (max-width: 900px) {
  .banner {
    width: calc(50% - 10px);
    margin: 5px;
    height: 355px;
  }
  .banner._width-2 {
    width: calc(50% - 10px);
  }
  .banner._first {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 331px;
    margin: 0;
    width: auto;
  }
  .banner__caption {
    padding-bottom: 17px;
  }
  .banner__content {
    padding: 0 27px 27px 27px;
  }
  .line-banner {
    height: 202px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .banner._first {
    left: 5px;
    right: 5px;
  }
  .line-banner {
    width: 100%;
  }
  .line-banner__content {
    width: 100%;
  }
  .sidebar-banner {
    height: 355px;
  }
}
@media only screen and (max-width: 510px) {
  .banner {
    width: 100%;
    margin: 10px 0;
    float: none;
  }
  .banner._first {
    left: 0;
    right: 0;
  }
  .sidebar-banner {
    height: 355px;
  }
}
.line {
  *zoom: 1;
  height: 202px;
  background-color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
}
.line:before,
.line:after {
  display: table;
  content: "";
  line-height: 0;
}
.line:after {
  clear: both;
}
.line__img {
  display: block;
  text-decoration: none;
  float: left;
  width: 396px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/banner.png');
}
.line__body {
  box-sizing: border-box;
  padding: 19px 25px 0 25px;
  width: 415px;
  float: left;
}
.line__content {
  padding-top: 16px;
}
.line__text {
  margin: 0;
  font-family: "OpenSansRegular";
  color: #000000;
  text-decoration: none;
}
.line__text._title {
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  transition: color 0.3s ease 0s;
}
.line__text._title:hover {
  color: #E27682;
}
.line__text._intro {
  font-size: 12px;
  padding-top: 8px;
  line-height: 18px;
}
@media only screen and (max-width: 1299px) {
  .line {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .line__img {
    width: 33.33%;
  }
  .line__body {
    box-sizing: border-box;
    width: 66.66%;
  }
}
@media only screen and (max-width: 1185px) {
  .line {
    height: 250px;
  }
  .line__body {
    padding: 19px 10px 0 10px;
  }
}
@media only screen and (max-width: 900px) {
  .line {
    width: 100%;
    float: none;
    height: 202px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .line__img {
    width: 33.33%;
  }
  .line__body {
    padding: 19px 25px 0 25px;
  }
}
/*
@media only screen and (max-width: @maxTablet){
	.line{
		&__img{
			width: 33.33%;
		}
		&__body{
			.box-sizing;
			width: 66.66%;
		}
	}
}*/
@media only screen and (max-width: 767px) {
  .line {
    height: auto;
  }
  .line__img {
    width: 100%;
    float: none;
    display: block;
    height: 181px;
  }
  .line__body {
    width: 100%;
    float: none;
    padding: 20px 25px 20px 25px;
  }
}
.uikit {
  color: #030303;
  font-family: "OpenSansRegular";
}
.uikit h1,
.uikit h2,
.uikit h3,
.uikit h4,
.uikit h5,
.uikit h6 {
  font-family: "OpenSansBold";
  line-height: normal;
  letter-spacing: 0.005em;
}
.uikit h1 {
  margin: 45px 0 30px 0;
  font-size: 42px;
}
.uikit h2 {
  margin: 30px 0 20px 0;
  font-size: 32px;
}
.uikit h3 {
  margin: 20px 0 15px 0;
  font-size: 28px;
}
.uikit p {
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0 15px 0;
}
.uikit img {
  max-width: 100%;
  height: auto;
}
.uikit blockquote {
  margin: 15px 0 15px 0;
  line-height: 27px;
  font-size: 18px;
  color: #fff;
  padding: 31px 20px 33px 20px;
  background: linear-gradient(100.89deg, #FE7245 -46.43%, #FE8EBE 53.57%);
  border-radius: 3px;
}
.uikit blockquote p {
  margin: 0;
  line-height: 27px;
  font-size: 18px;
  color: #fff;
  padding: 0;
}
.uikit a {
  color: #2BA3D6;
}
.uikit a:hover {
  text-decoration: none;
}
.uikit iframe {
  display: block;
}
@media only screen and (max-width: 1299px) {
  .uikit iframe {
    margin-right: auto;
    margin-left: auto;
    width: 678px;
    height: 382px;
  }
}
@media only screen and (max-width: 767px) {
  .uikit p {
    font-size: 16px;
  }
  .uikit h1 {
    margin: 30px 0 15px 0;
    font-size: 30px;
  }
  .uikit h2 {
    margin: 25px 0 15px 0;
    font-size: 22px;
  }
  .uikit h3 {
    margin: 15px 0 10px 0;
    font-size: 18px;
  }
  .uikit p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 10px 0;
  }
  .uikit blockquote {
    padding: 20px;
  }
  .uikit blockquote p {
    font-size: 16px;
  }
  .uikit iframe {
    margin-right: auto;
    margin-left: auto;
    width: 260px;
    height: 147px;
  }
}
.twitter {
  position: relative;
  *zoom: 1;
  background-color: #fff;
  border-top: 1px solid #E8E9E9;
  border-bottom: 1px solid #E8E9E9;
  padding: 30px 0;
}
.twitter:before,
.twitter:after {
  display: table;
  content: "";
  line-height: 0;
}
.twitter:after {
  clear: both;
}
.twitter + .twitter {
  border-top: none;
}
.twitter__desc {
  width: 230px;
  float: left;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}
.twitter__twit {
  width: 500px;
  float: right;
}
blockquote.twitter-tweet {
  background: #fff;
  color: #030303;
}
blockquote.twitter-tweet p {
  background: #fff;
  color: #030303;
}
@media only screen and (max-width: 1299px) {
  .twitter {
    overflow: hidden;
  }
  .twitter__twit {
    width: 50%;
  }
  .twitter__desc {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .twitter {
    padding: 20px 0;
  }
  .twitter__desc {
    width: auto;
    float: none;
  }
  .twitter__twit {
    width: auto;
    float: none;
    font-size: 16px;
    line-height: 24px;
  }
  .twitter__twit iframe {
    margin-left: auto;
    margin-right: auto;
  }
}
.similar__wrapper {
  padding-top: 45px;
}
.similar__caption {
  box-sizing: border-box;
  font-family: "OpenSansBold";
  font-size: 36px;
  color: #030303;
  margin: 0;
  padding-left: 2px;
  padding-bottom: 35px;
}
.similar__btn {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  top: 74px;
  left: -21px;
  z-index: 10;
  background-image: url('../images/icons/arrow__left.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.similar__btn.swiper-button-disabled {
  opacity: 0.5;
}
.similar__btn._next {
  left: auto;
  right: -21px;
  transform: rotate(180deg);
}
.similar__btn-wrapper {
  position: relative;
  z-index: 15 !important;
}
.similar .cell-project__logo {
  width: 72px;
  height: 72px;
}
.swiper-button-disabled {
  cursor: auto;
}
@media only screen and (max-width: 1299px) {
  .similar__btn._prev {
    left: -15px;
  }
  .similar__btn._next {
    right: -15px;
  }
  .similar__wrapper {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .similar__wrapper {
    padding-top: 20px;
  }
  .similar__caption {
    font-size: 32px;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .similar__btn._prev {
    left: -5px;
  }
  .similar__btn._next {
    right: -5px;
  }
  .similar__slide {
    margin: 0;
    height: 355px;
  }
}
.body {
  background-color: #e8e9e9;
}
.body__bottom-left {
  float: left;
  width: 814px;
}
.body__bottom-right {
  float: right;
  width: calc(33.33% - 20px);
}
.anchor-links {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
.anchor-links__title {
  font-family: "OpenSansBold";
  font-size: 28px;
  color: #000000;
  margin: 0;
  padding: 15px 0 20px 0;
  letter-spacing: 0.003em;
}
.anchor-links__caption {
  display: inline-block;
  font-family: "OpenSansSemiBold";
  font-size: 18px;
  color: #000000;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.5s ease 0s;
}
.anchor-links__caption-icon {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px 9px 0 0;
  background-image: url('../images/icons/arrow__down-black.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 8px 5px;
  transition: 0.5s ease 0s;
}
.anchor-links__caption-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: url('../images/icons/arrow__down-orange.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 8px 5px;
  transition: 0.5s ease 0s;
}
.anchor-links__caption._active {
  color: #FB5B37;
  position: relative;
}
.anchor-links__caption._active .anchor-links__caption-icon {
  transform: rotate(180deg);
  border-color: #FB5B37;
}
.anchor-links__caption._active .anchor-links__caption-icon:before {
  opacity: 1;
}
.anchor-links__caption._empty {
  color: #2BA3D6;
  padding-left: 27px;
  text-decoration: none;
}
.anchor-links__caption._empty .anchor-links__caption-icon {
  display: none;
}
.anchor-links__body {
  border-top: 2px solid #E8E9E9;
  padding: 18px 0 0 0;
}
.anchor-links__wrapper {
  display: none;
  padding: 0 0 0 17px;
  margin: 0 0 0 28px;
  border-left: 2px solid #E3E3E3;
  overflow: hidden;
}
.anchor-links__link {
  text-decoration: none;
  color: #2BA3D6;
  font-family: "OpenSansSemiBold";
  font-size: 16px;
}
.anchor-links__link-wrap {
  padding: 5px 0;
}
.video__wrap {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  padding-top: 56.25%;
}
.video__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup {
  padding: 0;
  margin: 0;
  background: transparent;
}
.popup__thanks {
  display: table;
  min-height: 300px;
  border-radius: 5px;
  background: linear-gradient(100.89deg, #FE7245 -46.43%, #FE8EBE 53.57%);
  width: 500px;
}
.popup__thanks-title {
  box-sizing: border-box;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: "OpenSansBold";
  margin: 0;
  font-size: 28px;
}
@media only screen and (max-width: 767px) {
  .popup__thanks {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
.tags {
  box-sizing: border-box;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
.tags__caption {
  font-family: "OpenSansRegular";
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.029em;
}
.tags__item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "OpenSansBold";
  font-size: 12px;
  color: #030303;
  padding: 0 5px;
  transition: color 0.3s ease 0s;
}
.tags__item:hover {
  color: #FE7246;
}
.tags__content {
  vertical-align: bottom;
}
@media only screen and (max-width: 767px) {
  .tags {
    padding: 20px;
  }
  .tags__caption {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
  }
}
.filter {
  box-sizing: border-box;
  padding: 30px;
  background-color: #fff;
}
.filter__form {
  *zoom: 1;
}
.filter__form:before,
.filter__form:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter__form:after {
  clear: both;
}
.filter__search {
  padding-top: 27px;
}
.filter__content {
  *zoom: 1;
  padding-top: 20px;
}
.filter__content:before,
.filter__content:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter__content:after {
  clear: both;
}
.filter__block {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
  height: 85px;
}
.filter__block._btn {
  padding: 25px 0 0 0;
}
.filter__block._btn .btn {
  padding: 0 20px;
}
.filter__caption {
  margin: 0;
  font-family: "OpenSansBold";
  font-size: 24px;
  color: #030303;
  padding-top: 6px;
  letter-spacing: 0.01em;
}
@media only screen and (max-width: 1299px) {
  .filter__block {
    width: 20%;
  }
  .filter__block._btn {
    width: 100%;
    text-align: center;
  }
  .filter__block._btn .btn {
    width: calc(20% - 10px);
  }
}
@media only screen and (max-width: 900px) {
  .filter {
    padding-bottom: 10px;
  }
  .filter__block {
    width: 33.33%;
    padding-bottom: 20px;
  }
  .filter__block._btn {
    width: 33.33%;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .filter__block._btn .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .filter__block {
    width: 50%;
  }
  .filter__block._btn {
    width: 50%;
  }
}
@media only screen and (max-width: 510px) {
  .filter__block {
    width: 100%;
  }
  .filter__block._btn {
    width: 100%;
  }
}
.select__wrapper {
  width: 203px;
  font-family: "OpenSansRegular";
  font-size: 13px;
  color: #9B9B9B;
}
.select__wrapper .selectric {
  border-radius: 3px;
  border: 1px solid #D7D7D7;
  color: #9B9B9B;
  background-color: transparent;
}
.select__wrapper .selectric .label {
  margin: 0;
  padding: 0 35px 0 15px;
  background-image: none;
  color: #9B9B9B;
  letter-spacing: 0.06em;
}
.select__wrapper .selectric .button {
  background-color: transparent;
}
.select__wrapper .selectric .button:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.select__wrapper .selectric .button:after {
  position: absolute;
  border: none;
  width: 18px;
  height: 19px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/icons/select__arrow.svg');
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.5s ease 0s;
}
.select__wrapper .selectric-items {
  background-color: #fff;
  border: 1px solid #000;
}
.select__wrapper .selectric-items li {
  padding-left: 15px;
  letter-spacing: 0.06em;
  background-color: #fff;
}
.select__wrapper .selectric-items li.highlighted {
  background-color: #D7D7D7;
  color: #030303;
}
.select__wrapper .selectric-items li.highlighted:hover {
  background-color: #D7D7D7;
}
.select__wrapper .selectric-items li:hover {
  background-color: #fff;
  color: #030303;
}
.select__wrapper .selectric-hover .selectric {
  border-color: #000;
}
.select__wrapper .selectric-open .selectric {
  border: 1px solid #000;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select__wrapper .selectric-open .selectric .button:after {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}
.select__label {
  display: inline-block;
  padding-bottom: 6px;
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  color: #030303;
}
@media only screen and (max-width: 1299px) {
  .select__wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 38px;
    font-family: "OpenSansRegular";
    font-size: 13px;
    color: #9B9B9B;
    border-radius: 3px;
    padding: 0 15px;
  }
  .select:focus {
    outline: none;
  }
}
.cell-project__wrapper {
  padding: 0 30px 0 30px;
}
.cell-project__top {
  box-sizing: border-box;
  *zoom: 1;
  position: relative;
  padding-top: 16px;
  padding-left: 30px;
  display: block;
  text-decoration: none;
}
.cell-project__top:before,
.cell-project__top:after {
  display: table;
  content: "";
  line-height: 0;
}
.cell-project__top:after {
  clear: both;
}
.cell-project__logo {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 97px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.cell-project__caption {
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 4px;
  color: #030303;
}
.cell-project__title {
  font-family: "OpenSansBold";
  margin: 0;
  font-size: 24px;
}
.cell-project__desc {
  height: 38px;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  font-family: "OpenSansRegular";
  font-size: 14px;
}
.cell-project__content {
  padding-top: 24px;
}
.cell-project__table {
  width: 100%;
}
.cell-project__table tr {
  border-bottom: 1px solid #E3DEDE;
}
.cell-project__table td {
  font-size: 14px;
  font-family: "OpenSansSemiBold";
  color: #030303;
  padding: 6px 0 9px 0;
}
.cell-project__table td.cell-project__heading {
  color: #969595;
  width: 136px;
}
.cell-project__heading {
  color: #969595;
}
.cell-project__site a {
  text-decoration: none;
  color: #030303;
}
.cell-project__whitepaper {
  font-family: "OpenSansSemiBold";
  font-size: 18px;
  color: #FE7246;
}
.cell-project__whitepaper:hover {
  text-decoration: none;
}
.cell-project._slide .cell-project__logo {
  width: 72px;
  height: 72px;
}
@media only screen and (max-width: 1299px) {
  .cell-project__top {
    padding-left: 15px;
  }
  .cell-project__logo {
    left: 15px;
    width: 72px;
    height: 72px;
  }
  .cell-project__caption {
    padding-left: 75px;
  }
  .cell-project__wrapper {
    padding: 0 15px 0 15px;
  }
}
@media only screen and (max-width: 1099px) {
  .cell-project {
    height: 420px;
  }
}
@media only screen and (max-width: 644px) {
  .cell-project {
    height: auto;
    padding-bottom: 15px;
    width: 100%;
    float: none;
  }
}
.team__caption {
  font-family: "OpenSansBold";
  font-size: 32px;
  color: #030303;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 24px;
}
.team__row {
  *zoom: 1;
  padding-bottom: 59px;
}
.team__row:before,
.team__row:after {
  display: table;
  content: "";
  line-height: 0;
}
.team__row:after {
  clear: both;
}
.team__row:last-child {
  padding-bottom: 19px;
}
.team__block {
  position: relative;
  width: 50%;
  float: left;
}
.team__content {
  box-sizing: border-box;
  padding-left: 100px;
  padding-left: 111px;
  padding-right: 10px;
}
.team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.team__name {
  margin: 0;
  font-family: "OpenSansBold";
  font-size: 24px;
}
.team__post {
  margin: 0;
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  color: #969595;
}
.team__text {
  margin: 0;
  font-family: "OpenSansRegular";
  font-size: 14px;
  padding-top: 10px;
}
@media only screen and (max-width: 1299px) {
  .team__img {
    position: static;
    float: left;
    margin: 0 15px 15px 0;
  }
  .team__content {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .team__block {
    width: auto;
    padding-bottom: 25px;
  }
  .team__row {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 510px) {
  .team__img {
    width: 72px;
    height: 72px;
    margin: 0 10px 10px 0;
  }
}
.main .sidebar {
  height: 1194px;
  overflow: hidden;
}
.main .sidebar._none-banner {
  height: 782px;
}
.main .subscription__wrapper {
  box-sizing: border-box;
  height: 264px;
}
.main .popular {
  height: 498px;
}
@media only screen and (max-width: 1299px) {
  .main .subscription__wrapper {
    box-sizing: border-box;
    float: left;
    padding: 24px 27px 0 27px;
    width: calc(33.33% - 10px);
    margin: 5px;
    height: 355px;
  }
  .main .subscription__form {
    height: 90px;
  }
  .main .sidebar {
    width: calc(33.33% - 10px);
    height: auto;
  }
  .main .sidebar-banner {
    height: 355px;
    margin-bottom: 10px;
  }
  .main .sidebar._none-banner {
    height: auto;
  }
  .main .popular {
    height: 720px;
  }
}
/*ДЛЯ БЛОКА ПОДПИСКИ НА ГЛАВНОЙ*/
@media only screen and (max-width: 1170px) {
  .main .subscription__form {
    position: relative;
    height: 130px;
  }
  .main .input__wrapper._subscription {
    float: none;
    width: 100%;
  }
  .main .input__error {
    padding-top: 0;
    line-height: 11px;
  }
  .main .btn._subscription {
    position: absolute;
    bottom: 12px;
    width: 100%;
  }
}
@media only screen and (max-width: 1070px) {
  .main .subscription__wrapper {
    height: 370px;
  }
  .main .popular {
    padding: 0 10px 0 10px;
    height: 750px;
  }
  .main .sidebar-banner {
    height: 370px;
  }
}
@media only screen and (max-width: 900px) {
  .main .input__wrapper._subscription {
    float: left;
    width: 174px;
    margin-bottom: 0;
  }
  .main .btn._subscription {
    position: static;
    float: right;
    width: auto;
  }
  .main .subscription__wrapper {
    box-sizing: border-box;
    float: left;
    padding: 24px 27px 0 27px;
    width: calc(50% - 10px);
    margin: 5px;
    height: 240px;
  }
  .main .subscription__form {
    height: 90px;
  }
  .main .sidebar {
    height: auto;
    width: calc(50% - 10px);
  }
  .main .sidebar-banner {
    height: 355px;
  }
  .main .sidebar._none-banner {
    height: auto;
  }
  .main .popular {
    height: 605px;
  }
}
@media only screen and (max-width: 767px) {
  .main .input__wrapper._subscription {
    float: left;
    width: 69%;
    margin-bottom: 0;
  }
  .main .input__error {
    position: static;
    top: auto;
    left: auto;
    line-height: normal;
  }
  .main .btn._subscription {
    position: static;
    float: right;
    width: 29%;
  }
  .main .sidebar {
    width: calc(100% - 10px);
    height: auto;
    float: none;
    margin: 10px auto;
  }
  .main .sidebar._none-banner {
    height: auto;
  }
  .main .subscription__wrapper {
    width: calc(100% - 10px);
    margin: 10px auto;
    float: none;
    height: auto;
  }
  .main .subscription__form {
    height: auto;
    padding-bottom: 50px;
  }
  .main .popular {
    height: auto;
  }
}
@media only screen and (max-width: 510px) {
  .main .input__wrapper._subscription {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .main .input__error {
    padding-bottom: 5px;
  }
  .main .btn._subscription {
    position: absolute;
    float: none;
    width: 100%;
  }
  .main .subscription__wrapper {
    width: 100%;
  }
  .main .sidebar {
    width: 100%;
  }
}
.search__caption {
  font-family: "OpenSansBold";
  font-size: 42px;
  line-height: 46px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}
.search__count {
  font-family: "OpenSansSemiBold";
  font-size: 20px;
  margin: 0;
  padding: 10px 0px 35px 2px;
}
@media only screen and (max-width: 767px) {
  .search__caption {
    font-size: 28px;
  }
  .search__count {
    font-size: 18px;
  }
}
.search-tags__info {
  font-family: "OpenSansBold";
  font-size: 42px;
  line-height: 46px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .search-tags__info {
    font-size: 22px;
    line-height: 27px;
  }
}
.news {
  padding-bottom: 45px;
}
.news__title {
  margin: 0;
  font-family: "OpenSansBold";
  font-weight: normal;
  font-size: 42px;
  color: #030303;
  padding-top: 34px;
}
.news__content {
  *zoom: 1;
  padding-top: 35px;
}
.news__content:before,
.news__content:after {
  display: table;
  content: "";
  line-height: 0;
}
.news__content:after {
  clear: both;
}
.news .sidebar {
  width: 397px;
  margin-right: 0;
}
@media only screen and (max-width: 1299px) {
  .news {
    padding-bottom: 0;
  }
  .news .sidebar {
    float: none;
    display: none;
  }
}
.article {
  float: left;
  width: 814px;
}
.article__wrapper {
  box-sizing: border-box;
  padding: 0 30px 27px 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
.article__title {
  margin: 0;
  font-size: 32px;
  font-family: "OpenSansBold";
  line-height: 44px;
  letter-spacing: 0.005em;
}
.article__title._big {
  font-size: 42px;
}
.article__top {
  padding-top: 20px;
}
.article__info {
  padding-top: 17px;
}
.article__img {
  margin: 20px -30px 0 -30px;
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.article__img img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease 0s;
}
.article__img img._blur-1 {
  filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.article__img img._blur-2 {
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}
.article__img img._blur-3 {
  filter: blur(15px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
}
.article__img img._blur-4 {
  filter: blur(20px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
}
.article__img img._blur-5 {
  filter: blur(25px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='25');
}
.article__mobile-img {
  display: none;
}
.article__intro {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  font-family: "OpenSansSemiBold";
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding: 0 30px 30px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.547356) 100%);
}
.article__banner {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 145px;
  margin: 0 -30px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 0 30px 0 30px;
}
.article__banner .article__banner-caption {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  font-family: "OpenSansExtraBold";
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.article__banner-wrapper {
  display: table;
  width: 50%;
  height: 100%;
}
.article__banner-caption {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  font-family: "OpenSansExtraBold";
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.article__banner-sign {
  color: #fff;
  font-family: "OpenSansRegular";
  font-size: 13px;
  position: absolute;
  right: 30px;
  bottom: 22px;
  font-weight: normal;
}
.article__social {
  box-sizing: border-box;
  padding: 30px;
  background-color: #fff;
}
.article__social .social__item {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}
.article__social-caption {
  font-family: "OpenSansRegular";
  font-size: 20px;
  color: #000000;
  vertical-align: middle;
  letter-spacing: 0.029em;
  padding-right: 22px;
}
@media only screen and (max-width: 1299px) {
  .article {
    float: none;
    width: auto;
  }
  .article__social {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .article__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .article__title {
    font-size: 22px;
    line-height: 34px;
  }
  .article__img {
    margin-left: -20px;
    margin-right: -20px;
  }
  .article__img img {
    display: none;
  }
  .article__mobile-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .article__intro {
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
  }
  .article__banner {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 15px;
  }
  .article__banner .article__banner-caption {
    font-size: 16px;
    line-height: normal;
  }
  .article__banner-sign {
    right: 15px;
    bottom: 15px;
  }
  .article__social {
    padding: 20px;
    text-align: justify;
  }
  .article__social-caption {
    display: block;
    padding: 0 0 10px 0;
    text-align: left;
  }
  .article__social .social__item {
    margin-right: 21px;
  }
  .article__title._big {
    font-size: 32px;
  }
}
.not-found__content {
  text-align: center;
}
.not-found__title {
  font-family: "OpenSansBold";
  font-size: 120px;
}
.not-found__text {
  font-family: "OpenSansBold";
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  .not-found__title {
    margin: 0;
    padding: 30px 0;
  }
  .not-found__text {
    margin: 0;
    padding: 20px 0;
  }
}
.project__caption {
  font-family: "OpenSansBold";
  font-size: 42px;
  color: #030303;
  margin: 0;
  padding-bottom: 30px;
}
.project__top {
  padding-top: 35px;
}
.project__search {
  padding-top: 28px;
}
.single-project__top {
  box-sizing: border-box;
  *zoom: 1;
  display: block;
  text-decoration: none;
  margin-top: -6px;
}
.single-project__top:before,
.single-project__top:after {
  display: table;
  content: "";
  line-height: 0;
}
.single-project__top:after {
  clear: both;
}
.single-project__logo {
  float: left;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.single-project__caption {
  box-sizing: border-box;
  float: left;
  color: #030303;
  padding-left: 15px;
}
.single-project__title {
  padding-top: 2px;
  font-family: "OpenSansBold";
  margin: 0;
  font-size: 32px;
}
.single-project__desc {
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  font-family: "OpenSansRegular";
  font-size: 14px;
  padding: 18px 0;
}
.single-project__info {
  padding-top: 12px;
}
.single-project__info .cell-project__table td:nth-child(1) {
  width: 138px;
}
.single-project__info .cell-project__table td:nth-child(2) {
  width: 290px;
}
.single-project__info .cell-project__table td:nth-child(3) {
  width: 160px;
}
@media only screen and (max-width: 1299px) {
  .single-project__info .cell-project__table td {
    width: 25%;
  }
  .single-project__info .cell-project__table td:nth-child(1) {
    width: 25%;
  }
  .single-project__info .cell-project__table td:nth-child(2) {
    width: 25%;
  }
  .single-project__info .cell-project__table td:nth-child(3) {
    width: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .single-project__info .cell-project__table tr {
    display: block;
    border: none;
  }
  .single-project__info .cell-project__table td {
    display: block;
    width: auto;
  }
  .single-project__info .cell-project__table td:nth-child(1) {
    width: auto;
  }
  .single-project__info .cell-project__table td:nth-child(2) {
    width: auto;
  }
  .single-project__info .cell-project__table td:nth-child(3) {
    width: auto;
  }
  .single-project__info .cell-project__table td:nth-child(2n) {
    border-bottom: 1px solid #E3DEDE;
  }
  .single-project__info .cell-project__whitepaper-td {
    border-bottom: 1px solid #E3DEDE;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.t-a-c {
  text-align: center;
}
