
/* Код для подключения шрифта в /css/stylename.css */

    @font-face {
            font-family: "OpenSansRegular";
            src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
            src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
            url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
            url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
    }
