// CSS Reset
@import "reset.less";
// mixins
@import "mixins.less";
@import "fonts.less";

@pathToImg : "../images/";
@pathToFonts : "../fonts/";

//Your CSS here.
.grid_inner{
	.clearfix;
	width: 1230px;
	margin: 0 auto;
}
//END

// Utility classes
@import "utilities.less"; // Has to be last to override when necessary
