@fontFamily:    segoeui, Arial, sans-serif;
@fontFamilyL:   segoeuil, Arial, sans-serif;
@fontSize:      14px;
@lineHeight:    1.428;
@textColor:     #242424;

/* Colors */
@linkColor:     #007daf;
@primaryColor:  #5abb34;
@blueColor:     #007daf;

/* Paths */
@pathToImg :    "images/";
@pathToFonts :  "fonts/";
@pageWidth :    978px;
@minWrapWidth :    1024px;
@maxWrapWidth :    1920px;